:root {
    --white: #FFFFFF;
    --white-opacity: rgba(255, 255, 255, 0.9);
    --white-opacity-light: rgba(255, 255, 255, 0.3);
    --blue: #81B3D2;
    --blue-hover:#669EC0;
    --blue-active:#5496BD;
    --black: #000000;
    --black-opacity: rgba(0, 0, 0, 0.3);
    --gray: #EEEEEE;
    --brown: #766357;
    --brown-darcker: #604E43;
    --brown-darckest: #503E33;
    --background-gray: #888888;
    --gray-input: #F2F2F2;
    --gray-icon-decor: #A9A9A9;
    --gray-rating: #666666;
    --gray-up-dir: #CACACA;
    --light-black: #333333;
    --gray-hover: #EBEBEB;
    --simple-opacity: rgba(0, 0, 0, 0);
}



.index-body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--white);
    position: relative;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);               /*тень отсутствует*/
}

.ears-left {
  grid-column: 1/2;                              /*впаял 2 уха, хотелось бы обойтись 1. координаты 1/-1 не работают */
  grid-row: 1/5;
  background-color: var(--gray-input);
}

.ears-right {
  grid-column: 3/4;
  grid-row: 1/5;
  background-color: var(--gray-input);
}


 /*min, max, auto, узнать*/

                                                            /*header*/
.main-header {
  grid-column: 2/3;
}

.list-navigation {
    position: relative;
    background-color: var(--white);
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding: 0;

}

.list-navigation ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}

.list-navigation li:nth-child(2), .list-navigation li:nth-child(3) {
  margin: auto;
}

.list-navigation li:nth-child(1) {
  margin-left: 72px;
}

.list-navigation li:nth-child(4) {
  margin-right: 72px;
}

.logotype {
position: absolute;
  top: 0;
  left: 531px;
  z-index: 2;
}

.list-navigation a {
      text-decoration: none;
      color: var(--black);
}

.list-navigation a:hover {
      text-decoration: none;
      color: var(--blue);
}

.list-navigation a:active {
      text-decoration: none;
      color: var(--black-opacity);
}

.list-navigation a:focus {
      text-decoration: none;
      color: var(--brown);
    }

                                                              /*header*/
.index-main {
  grid-column: 2/3;
}

                                                          /*section entry*/
.background-photo-main::after {
  background-image: url("../img/mask.svg");
  background-repeat: no-repeat;
  content: "";
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
  background-color: var(--simple-opacity);
}

.background-photo-main {
  position: relative;
    background-image: url("../img/background_photo_without_mask.png");
    background-repeat: no-repeat;
    height: 509px;
}



.entry {
  position: relative;
  display: grid;
}

.entry img {
  justify-self: center;
  position: absolute;
  grid-row: 1/-1;
  grid-column: 1/-1;
  padding-top: 100px;
}

h1 {
  color: var(--black);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-top: 43px;
  padding-bottom: 28px;
}


                                                            /*section entry*/


                                                            /*section list-profit*/

.list-profit h2 {
  color: var(--light-black);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 51px;
}

.list-profit ul {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.list-profit h3, h4 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.list-profit p {
  font-size: 14px;
  line-height: 21px;
}

.list-item-profit>li:nth-child(1),
 .list-item-profit>li:nth-child(2) {
    grid-column: 1/-1;
    color: var(--white);
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 400px 400px 400px;

}

.list-item-profit>li:nth-child(1) div {
   grid-column: 1/2;
   margin: auto;
   grid-row: 1/2;
   text-align: center;
 }

.numbers {
  margin-top: 25px;
  margin-bottom: 23px;
  text-align: center;
}


 .list-item-profit>li:nth-child(2) div {
      grid-column: 3/4;
      grid-row: 1/2;
      text-align: center;
      vertical-align: middle;
      margin: auto;
 }

 .list-item-profit>li:nth-child(1) img,
  .list-item-profit>li:nth-child(2) img {

    grid-row: 1/2;
  }

.list-item-profit>li:nth-child(n+3) {
    color: var(--light-black);
    background-color: var(--gray);
    text-align: center;
    padding-bottom: 54px;
    padding-top: 47px;
}

.list-item-profit>li:nth-child(n+3) h3{
    color: var(--black);

}

.profit-town {
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    margin: 0;
    padding: 0;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.profit-town li{
  margin-top: 55px;
}



.profit-town p{
    color: var(--light-black);
    margin-bottom: 82px;
}

.profit-town li:nth-child(2)::before {
  background-image: url(../img/icon/food.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  min-height: 80px;
  display: block;
}

.profit-town li:nth-child(1)::before {
  background-image: url(../img/icon/housing.svg);
  background-repeat: no-repeat;
  content: "";
  display: block;
  min-height: 80px;
  background-position: center;
  margin-bottom: 29px;
}

.profit-town li:nth-child(3)::before {
  content: "";
  background-image: url(../img/icon/souvenirs.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80px;
  display: block;
}

                                                           /*section list-profit*/


                                                           /*search-help*/
.search-help {
    position: relative;
    text-transform: uppercase;
    background-color: inherit;
    text-align: center;
}


.search-help h2{
  color: var(--black);
  font-size:  30px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 58px;
}

.search-help p{
  display: block;
  height: 95px;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-black);
  margin-top: 4px;
  margin-bottom: 24px;
}

.search-hotel {
  color: var(--white);
  font-size: 21px;
  line-height: 26px;
  background-color: var(--brown);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  height: 86px;
  width: 568px;
}

.search-hotel:hover {
  background-color: var(--brown-darcker);
}

.search-hotel:active {
  background-color: var(--brown-darckest);
  color: var(--white-opacity-light);
}

                                                           /*search-help*/


                                                           /*footer*/


.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
    background-color: var(--white-opacity);
    color: var(--black);
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    grid-column: 2/3;
    width: 1200px;
    min-height: 120px;
}

.contacts, .contacts a {

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.contacts p {
  padding: 0;
  margin: 0;

}

.contacts {
  align-self: center;
  margin-bottom: 9px;
}
                                                              /*social*/

.list-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social {
    list-style: none;
    background-color: var(--blue);
    margin-right: 6px;


}

.social-item {


  display: flex;
  width:46px;
  height:48px;
  background-color: var(--blue);


}

.social-item svg{
  display: flex;
  margin: auto;
}


.social-item:hover {
    background-color: var(--blue-hover);
}

.social-item:active {
    background-color: var(--blue-active);
}

  .social-Youtube:active svg,
   .social-facebook:active svg,
    .social-twitter:active svg{
      opacity: 0.3;
  }
                                                          /*social*/

                                                          /*developer*/
    .site-developer p {
      margin-right: 8px;
      font-size: 14px;
      line-height: 26px;
      font-weight: normal;
    }

    .site-developer a:hover path {
      fill:var(--blue);
    }

    .site-developer a:active path {
      fill:var(--black-opacity);
    }

    .site-developer {

      display: flex;
      align-self: center;
    }

                                                          /*developer*/
                                                            /*footer*/


                                                            /*modal*/

.modal {

    position: absolute;
    left: 316px;
    bottom: 202px;
  /*  z-index: 1;*/
    /*text-align: center;       */     /*не центрируется*/
    justify-content: center;
    color: var(--black);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    width: 568px;
    height: 395px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    background-color: var(--white);
  /*  display: grid;
/*    grid-template-columns: 1fr 200px 200px 1fr;*/
}

.modal form {
  display: flex;
  flex-wrap: wrap;
align-items:baseline;
  margin: 55px;


}

/*.modal label {

  margin-left: 55px;
}*/

.modal label {
margin-right: auto;
}

.modal label[for="child"] {
margin-left: auto;

}

.modal p {
  max-height: 38px;
margin: 0;
padding: 0;

margin-bottom: 30px;
position: relative;

}


.modal input[type="text"] {
  padding-left: 12px;
  color: var(--black);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--gray-input);
  width: 332px;
  height: 38px;
  border: none;

}

.modal .calendar {                    /*не фокусится*/
  position:absolute;
  margin-left: -30px;
  margin-top: 10px;
  cursor: pointer;
}

.modal .minus {                        /*не фокусится*/
  position:absolute;
  margin-left: -100px;
  margin-top: 3px;
  cursor: pointer;
}

.modal .plus {                        /*не фокусится*/
  position:absolute;
  margin-left: -25px;
  margin-top: 7px;
  cursor: pointer;
}

.minus:hover rect,
 .plus:hover path,
  .calendar:hover path {
    fill: var(--black);
  }

  .minus:active rect,
   .plus:active path,
    .calendar:active path {
      fill: var(--blue);
    }

.modal input[type="text"]:hover {
  background-color: var(--gray-hover);
}

.modal input[type="text"]:focus {
  background-color: var(--white);
}

.modal input[type="submit"] {
  color: var(--white);
  background-color: var(--blue);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
  width: 458px;
  height: 58px;
  align-self: stretch;
  margin-top: 24px;
}

.modal input[type="submit"]:hover {
  background-color: var(--blue-hover);
}

.modal input[type="submit"]:active {
  background-color: var(--blue-active);
  color: var(--white-opacity-light);
  /*border: none;*/
}

 .modal input[name="children"] {
  width: 114px;
  padding: 0;
  text-align: center;
  /*margin-left: 53px;*/
}

.modal input[name="adult"] {
 width: 114px;
 padding: 0;
 text-align: center;

}
                                                            /*modal*/





                                                              /*catalog*/

.main-catalog {
  text-transform: uppercase;

}

                                                            /*filter*/
.filter {
    background-image: url("../img/background_for_catalog.png");
    background-color: var(--blue);
    background-repeat: no-repeat;
    min-height: 217px;
}

.filter form {
    color: var(--white);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.filter input {
   text-transform: uppercase;
    background-color: var(--simple-opacity);
    color: var(--white);
    border: 1px solid var(--white);
}

/*input[type="checkbox"] {
    background-color: var(--simple-opacity);
    border: 1px solid var(--white);
}*/                                              /*сделать поля checkbox прозрачными*/

.text-label {
/*  color: var(--white);*/
}

.filter fieldset {
    display: flex;

}

.filter input[value="показать"]:hover, .filter input[value="показать"]:focus {
  background-color: var(--white);
  color: var(--black);
}
                                                            /*filter*/

                                                            /*sorting*/

.sorting a{
  list-style: style;
  text-decoration: none;
  color: var(--black-opacity);
}

.sorting a:focus{
    color: var(--blue);
}

.sorting a:hover{
    color: var(--blue);
    text-decoration: underline dotted;
}

.sorting a:active{
    color: var(--black);
    text-decoration: none;
}

/*.sorting svg:hover { }          /*стрелки хз как делать*/

                                                            /*sorting*/

                                                            /*filter-result*/

.filter-result ul {
    list-style: none;
}

.filter-result a {
    list-style: none;
    text-decoration: none;
  /*  color: var(--black);*/
}

.hotel-name {
  color: var(--black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.filter-result .hotel-name:hover {
  color: var(--blue);
}

.filter-result .hotel-name:active {
  color: var(--black-opacity);
}

.read-more, .reservation {
  color: var(--white);
}

.read-more {
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.read-more:hover {
  background-color: var(--blue-hover);
}

.read-more:active {
  background-color: var(--blue-active);
  color: var(--white-opacity-light);
}

.reservation {
  background-color: var(--brown);
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.reservation:hover {
  background-color: var(--brown-darcker);
}

.reservation:active {
  background-color: var(--brown-darckest);
  color: var(--white-opacity-light);
}

.rating {
  font-size: 14px;
  line-height: 21px;
  color: var(--gray-rating);
  background-color: var(--gray-input);
}

                                                            /*filter-result*/
                                                              /*catalog*/



                                                            /*visually-hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  }

                                                          /*visually-hidden*/

.now_here {                              /*класс для ссылки на которой находимся*/
  background-color: var(--brown);
}
