:root {
    --white: #FFFFFF;
    --white-opacity: rgba(255, 255, 255, 0.9);
    --white-opacity-light: rgba(255, 255, 255, 0.3);
    --blue: #81B3D2;
    --blue-hover:#669EC0;
    --blue-active:#5496BD;
    --black: #000000;
    --black-opacity: rgba(0, 0, 0, 0.3);
    --gray: #EEEEEE;
    --brown: #766357;
    --brown-darcker: #604E43;
    --brown-darckest: #503E33;
    --background-gray: #888888;
    --gray-input: #F2F2F2;
    --gray-icon-decor: #A9A9A9;
    --gray-rating: #666666;
    --gray-up-dir: #CACACA;
    --light-black: #333333;
    --gray-hover: #EBEBEB;
    --simple-opacity: rgba(0, 0, 0, 0);
}



.index-body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--background-gray);     /*какой бек под какой ложится*/
  width:inherit;
    justify-content: center;
    display: grid;
}

.back-color {




    background-color: var(--white);     /*какой бек под какой ложится*/
     /*какой бек под какой ложится*/
  min-width: 1200px;                         /*min, max, auto, узнать*/
  display: grid;
  grid-template-columns: 1200px;
}
/*.main-header {
  grid-column: auto;
}*/

                                                            /*header*/


.list-navigation {
    background-color: var(--white);
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.list-navigation ul {
      list-style: none;
      margin: 0;
      padding: 0;
}

.list-navigation a {
      text-decoration: none;
      color: var(--black);
}

/*.list-navigation a:link {
      text-decoration: none;
      color: var(--black);
}*/                                                          /*четвертое состояние в стайлгаде. Что и Как*/

/*.list-navigation a:visited {
      text-decoration: none;
      color: var(--brown);
}*/

.list-navigation a:hover {
      text-decoration: none;
      color: var(--blue);
}

.list-navigation a:active {
      text-decoration: none;
      color: var(--black-opacity);
}

.list-navigation a:focus {
      text-decoration: none;
      color: var(--brown);
    }

                                                              /*header*/


                                                          /*section entry*/
.background-photo-main {
    background-image: url("../img/background_photo_without_mask.png");
    background-repeat: no-repeat;
  /*  background-color: var(--white);*/
    width: inherit;
    height: 509px;
  /*  position: relative;*/


}

/*.background-photo-main::after {
  background-image: url("../img/mask_for_background_photo.svg");
  background-repeat: no-repeat;

  height: auto;
  position: relative;
  top: 74px;
  width: inherit;

  background-color: var(--simple-opacity);
}            */                                                             /*не отображается почему*/

.entry {

  display: grid;
}

.entry img {
  grid-row: 1/-1;
  grid-column: 1/-1;
/*  z-index: 2;*/
  justify-self: center;
  padding-top: 100px;
}

.background-with-mask {
  background-color: var(--gray-icon-decor);
  width: 1200px;
  /*height: auto;*/
/*  z-index: 1;*/
  grid-row: 1/-1;
  grid-column: 1/-1;
/*не отображается почему*/
/*  position: absolute; *//*какова хрена?*/

}

.mask-for-background {
  background-image: url("../img/mask.svg");
  background-repeat: no-repeat;
  width: inherit;
  height: 57px;
  position: absolute;
  bottom: 278px;

  background-color: var(--simple-opacity);


}

h1 {
  color: var(--black);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-top: 43px;
  padding-bottom: 28px;
}


                                                            /*section entry*/


                                                            /*section list-profit*/
/*.list-profit {
  background-color: var(--white);
}*/

.list-profit h2 {
  color: var(--light-black);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 51px;
}

.list-profit ul {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.list-profit h3, h4 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.list-profit p {
  font-size: 14px;
  line-height: 21px;
}

.list-item-profit>li:nth-child(1),
 .list-item-profit>li:nth-child(2) {
    grid-column: 1/-1;
    color: var(--white);
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 400px 400px 400px;

}

.list-item-profit>li:nth-child(1) div {
   grid-column: 1/2;
   margin: auto;
   grid-row: 1/2;
   text-align: center;
 }

.numbers {
  margin-top: 25px;
  margin-bottom: 23px;
  text-align: center;
}


 .list-item-profit>li:nth-child(2) div {
      grid-column: 3/4;
      grid-row: 1/2;
      text-align: center;
      vertical-align: middle;
      margin: auto;
 }

 .list-item-profit>li:nth-child(1) img,
  .list-item-profit>li:nth-child(2) img {

    grid-row: 1/2;
  }

.list-item-profit>li:nth-child(n+3) {
    color: var(--light-black);
    background-color: var(--gray);
    text-align: center;
    padding-bottom: 54px;
    padding-top: 47px;
}

.list-item-profit>li:nth-child(n+3) h3{
    color: var(--black);

}

.profit-town {
    color: var(--black);
    background-color: var(--white);
    text-align: center;

    margin: 0;
    padding: 0;

    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 400px 400px 400px;
  /*  grid-template-rows: 330px;*/
}

.profit-town li{
  margin-top: 55px;
}



.profit-town p{

    color: var(--light-black);
    margin-bottom: 82px;
   /* margin-left: 60px;
    margin-right: 60px;*/

}

.profit-town li:nth-child(2)::before {
  background-image: url(../img/icon/food.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  min-height: 80px;
  display: block;


/*  margin-bottom: 29px;*/
}

.profit-town li:nth-child(1)::before {
  background-image: url(../img/icon/housing.svg);
  background-repeat: no-repeat;
  content: "";
  display: block;
  min-height: 80px;
    background-position: center;
      margin-bottom: 29px;
}

.profit-town li:nth-child(3)::before {
  content: "";
  background-image: url(../img/icon/souvenirs.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80px;
  display: block;

    /*  margin-bottom: 29px;*/
}



/*
.list-item-profit {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: grid;
}*/
/*
.three-last-profit {
  background-color: var(--gray);
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.three-last-profit li:nth-child(n+1) {
  text-align: center;
  padding-bottom: 54px;
  padding-top: 47px;
}*/


                                                           /*section list-profit*/


                                                           /*search-help*/
.search-help {
    text-transform: uppercase;
    background-color: inherit;
    text-align: center;
}


.search-help h2{
  color: var(--black);
  font-size:  30px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 58px;
}

.search-help p{
  display: block;
  height: 95px;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-black);
  margin-top: 4px;
  margin-bottom: 24px;
}

.search-hotel {
  color: var(--white);
  font-size: 21px;
  line-height: 26px;
  background-color: var(--brown);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  height: 86px;
  width: 568px;
}

.search-hotel:hover {
  background-color: var(--brown-darcker);

}

.search-hotel:active {
  background-color: var(--brown-darckest);
  color: var(--white-opacity-light);

}

/*.search-hotel img {
  z-index: 1;
}*/
                                                           /*search-help*/


                                                           /*footer*/
.main-footer {

  display: grid;                                                        /*наложить на карту*/
  grid-template-columns: 400px 400px 400px;
  text-align: center;
}

.main-footer {
    background-color: var(--white-opacity);
    color: var(--black);
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.contacts, .contacts a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  color: inherit;

}

.site-developer p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}


                                                              /*social*/

.social {
    list-style: none;
    display: inline-block;
    width:46px;
    height:48px;

  /*  background-color: var(--blue);*/
}

.social-item {
    background-color: var(--blue);
}

.social-item:hover {
    background-color: var(--blue-hover);
}

.social-item:active {
    background-color: var(--blue-active);
}

.social-twitter {
    /*padding: 17px 15px;*/
    margin: 0 auto;
    display: inline-block;
  }

  .social-facebook {

    /*  padding: 13px 17px;*/

      display: inline-block;
  }

  .social-Youtube {
      /*padding: 16px 13px;*/
      margin: 0 auto;
      display: inline-block;
  }

  .social-Youtube:active svg, .social-facebook:active svg, .social-twitter:active svg{
      opacity: 0.3;
  }
                                                            /*social*/

.site-developer svg:hover {
    background-color: var(--blue); /*атрибут fill менять с помощью JS*/

}
                                                            /*footer*/


                                                            /*modal*/

.modal {
    color: var(--black);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.modal input {
  color: var(--black);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--gray-input);
}

.modal input[type="text"]:hover {
  background-color: var(--gray-hover);
}

.modal input[type="text"]:focus {
  background-color: var(--white);
}

.modal input[type="submit"] {
  color: var(--white);
  background-color: var(--blue);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
}

.modal input[type="submit"]:hover {
  background-color: var(--blue-hover);
}

.modal input[type="submit"]:active {
  background-color: var(--blue-active);
  color: var(--white-opacity-light);
}
                                                            /*modal*/





                                                              /*catalog*/

.main-catalog {
  text-transform: uppercase;

}

                                                            /*filter*/
.filter {
    background-image: url("../img/background_for_catalog.png");
    background-color: var(--blue);
    background-repeat: no-repeat;
    min-height: 217px;
}

.filter form {
    color: var(--white);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.filter input {
   text-transform: uppercase;
    background-color: var(--simple-opacity);
    color: var(--white);
    border: 1px solid var(--white);
}

/*input[type="checkbox"] {
    background-color: var(--simple-opacity);
    border: 1px solid var(--white);
}*/                                              /*сделать поля checkbox прозрачными*/

.text-label {
/*  color: var(--white);*/
}

.filter fieldset {
    display: flex;

}

.filter input[value="показать"]:hover, .filter input[value="показать"]:focus {
  background-color: var(--white);
  color: var(--black);
}
                                                            /*filter*/

                                                            /*sorting*/

.sorting a{
  list-style: style;
  text-decoration: none;
  color: var(--black-opacity);
}

.sorting a:focus{
    color: var(--blue);
}

.sorting a:hover{
    color: var(--blue);
    text-decoration: underline dotted;
}

.sorting a:active{
    color: var(--black);
    text-decoration: none;
}

/*.sorting svg:hover { }          /*стрелки хз как делать*/

                                                            /*sorting*/

                                                            /*filter-result*/

.filter-result ul {
    list-style: none;
}

.filter-result a {
    list-style: none;
    text-decoration: none;
  /*  color: var(--black);*/
}

.hotel-name {
  color: var(--black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.filter-result .hotel-name:hover {
  color: var(--blue);
}

.filter-result .hotel-name:active {
  color: var(--black-opacity);
}

.read-more, .reservation {
  color: var(--white);
}

.read-more {
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.read-more:hover {
  background-color: var(--blue-hover);
}

.read-more:active {
  background-color: var(--blue-active);
  color: var(--white-opacity-light);
}

.reservation {
  background-color: var(--brown);
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.reservation:hover {
  background-color: var(--brown-darcker);
}

.reservation:active {
  background-color: var(--brown-darckest);
  color: var(--white-opacity-light);
}

.rating {
  font-size: 14px;
  line-height: 21px;
  color: var(--gray-rating);
  background-color: var(--gray-input);
}

                                                            /*filter-result*/
                                                              /*catalog*/



                                                            /*visually-hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  }

                                                          /*visually-hidden*/

.now_here {                              /*класс для ссылки на которой находимся*/
  background-color: var(--brown);
}
