:root {
    --white: #FFFFFF;
    --white-opacity: rgba(255, 255, 255, 0.9);
    --white-opacity-light: rgba(255, 255, 255, 0.3);
    --blue: #81B3D2;
    --blue-hover:#669EC0;
    --blue-active:#5496BD;
    --black: #000000;
    --black-opacity: rgba(0, 0, 0, 0.3);
    --gray: #EEEEEE;
    --brown: #766357;
    --brown-darcker: #604E43;
    --brown-darckest: #503E33;
    --background-gray: #888888;
    --gray-input: #F2F2F2;
    --gray-icon-decor: #A9A9A9;
    --gray-rating: #666666;
    --gray-up-dir: #CACACA;
    --light-black: #333333;
    --gray-hover: #EBEBEB;
    --simple-opacity: rgba(0, 0, 0, 0);
    --border-line:#E5E5E5;
    --toggle: #ABABAB;
    --togle-shadow: rgba(171, 171, 171, 0.3);
}

.page {
  background-color: var(--gray-input);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-body {
  font-family: "PT Sans", Arial, sans-serif;
    position: relative;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}
 /*min, max, auto, узнать*/

                                                            /*header*/
.main-header {
  width: inherit;
}

.list-navigation {
    position: relative;
    background-color: var(--white);
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.list-navigation ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}

.list-navigation li:nth-child(2), .list-navigation li:nth-child(3) {
  margin: auto;
}

.list-navigation li:nth-child(1) {
  margin-left: 72px;
  text-align: left;
}

.list-navigation li:nth-child(2) {
  text-align: left;
}

.list-navigation li:nth-child(4) {
  margin-right: 72px;
  text-align: right;
}

.list-navigation li:nth-child(3) {
  text-align: right;
}

.list-navigation li {
  display: inline-block;
  width: 100px;
}

.logotype {
position: absolute;
  top: 0;
  left: 531px;
  z-index: 2;
}

.list-navigation a {
      text-decoration: none;
      color: var(--black);
}

.list-navigation a:hover {
      text-decoration: none;
      color: var(--blue);
}

.list-navigation a:active {
      text-decoration: none;
      color: var(--black-opacity);
}

.list-navigation a:focus {
      text-decoration: none;
      color: var(--brown);
    }

                                                              /*header*/


                                                          /*section entry*/
.background-photo-main::after {
  background-image: url("../img/mask.svg");
  background-repeat: no-repeat;
  content: "";
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
  background-color: var(--simple-opacity);
}

.background-photo-main {
  position: relative;
    background-image: url("../img/background_photo_without_mask.png");
    background-repeat: no-repeat;
    height: 509px;
}



.entry {
  position: relative;
  display: grid;
}

.entry img {
justify-self: center;
text-align: center;
  position: absolute;
  padding-top: 100px;
}

h1 {
  color: var(--black);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-top: 43px;
  padding-bottom: 28px;
}


                                                            /*section entry*/


                                                            /*section list-profit*/

.list-profit h2 {
  color: var(--light-black);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 51px;
}

.list-profit ul {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.list-profit h3, h4 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.list-profit p {
  font-size: 14px;
  line-height: 21px;
}

.list-item-profit>li:nth-child(1),
 .list-item-profit>li:nth-child(2) {
    grid-column: 1/-1;
    color: var(--white);
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 400px 400px 400px;

}

.list-item-profit>li:nth-child(1) div {
   grid-column: 1/2;
   margin: auto;
   grid-row: 1/2;
   text-align: center;
 }

.numbers {
  margin-top: 25px;
  margin-bottom: 23px;
  text-align: center;
}


 .list-item-profit>li:nth-child(2) div {
      grid-column: 3/4;
      grid-row: 1/2;
      text-align: center;
      vertical-align: middle;
      margin: auto;
 }

 .list-item-profit>li:nth-child(1) img,
  .list-item-profit>li:nth-child(2) img {

    grid-row: 1/2;
  }

.list-item-profit>li:nth-child(n+3) {
    color: var(--light-black);
    background-color: var(--gray);
    text-align: center;
    padding-bottom: 54px;
    padding-top: 47px;
}

.list-item-profit>li:nth-child(n+3) h3{
    color: var(--black);

}

.profit-town {
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    margin: 0;
    padding: 0;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.profit-town li{
  margin-top: 55px;
}



.profit-town p{
    color: var(--light-black);
    margin-bottom: 82px;
}

.profit-town li:nth-child(2)::before {
  background-image: url(../img/icon/food.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  min-height: 80px;
  display: block;
}

.profit-town li:nth-child(1)::before {
  background-image: url(../img/icon/housing.svg);
  background-repeat: no-repeat;
  content: "";
  display: block;
  min-height: 80px;
  background-position: center;
  margin-bottom: 29px;
}

.profit-town li:nth-child(3)::before {
  content: "";
  background-image: url(../img/icon/souvenirs.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80px;
  display: block;
}

                                                           /*section list-profit*/


                                                           /*search-help*/
.search-help {
    position: relative;
    text-transform: uppercase;
    background-color: inherit;
    text-align: center;
}


.search-help h2{
  color: var(--black);
  font-size:  30px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 58px;
}

.search-help p{
  display: block;
  height: 95px;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-black);
  margin-top: 4px;
  margin-bottom: 24px;
}

.search-hotel {
  color: var(--white);
  font-size: 21px;
  line-height: 26px;
  background-color: var(--brown);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  height: 86px;
  width: 568px;
}

.search-hotel:hover {
  background-color: var(--brown-darcker);
}

.search-hotel:active {
  background-color: var(--brown-darckest);
  color: var(--white-opacity-light);
}

                                                           /*search-help*/


                                                           /*footer*/


.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
    background-color: var(--white-opacity);
    color: var(--black);
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    width: 1200px;
    min-height: 120px;
}

.contacts, .contacts a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.contacts p {
  padding: 0;
  margin: 0;

}

.contacts {
  align-self: center;
  margin-bottom: 9px;
}
                                                              /*social*/

.list-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social {
    list-style: none;
    background-color: var(--blue);
    margin-right: 6px;
}

.social-item {
  display: flex;
  width:46px;
  height:48px;
  background-color: var(--blue);
}

.social-item svg{
  display: flex;
  margin: auto;
}


.social-item:hover {
    background-color: var(--blue-hover);
}

.social-item:active {
    background-color: var(--blue-active);
}

  .social-Youtube:active svg,
   .social-facebook:active svg,
    .social-twitter:active svg{
      opacity: 0.3;
  }
                                                          /*social*/

                                                          /*developer*/
    .site-developer p {
      margin-right: 8px;
      font-size: 14px;
      line-height: 26px;
      font-weight: normal;
    }

    .site-developer a:hover path {
      fill:var(--blue);
    }

    .site-developer a:active path {
      fill:var(--black-opacity);
    }

    .site-developer {
      display: flex;
      align-self: center;
    }

                                                          /*developer*/
                                                            /*footer*/


                                                            /*modal*/

.modal {
    position: absolute;
    left: 316px;
    bottom: 202px;
      justify-content: center;
    color: var(--black);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    width: 568px;
    height: 395px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    background-color: var(--white);
}

.modal form {
  display: flex;
  flex-wrap: wrap;
align-items:baseline;
  margin: 55px;
}

.modal label {
margin-right: auto;
}

.modal label[for="child"] {
margin-left: auto;
}

.modal p {
  max-height: 38px;
margin: 0;
padding: 0;
margin-bottom: 30px;
position: relative;
}


.modal input[type="text"] {
  padding-left: 12px;
  color: var(--black);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--gray-input);
  width: 332px;
  height: 38px;
  border: none;
}

.modal .calendar {
  position:absolute;
  right: 9px;
  top: 8px;
  cursor: pointer;
}

.modal .minus {
  position:absolute;
  left: 13px;
  top: 3px;
  cursor: pointer;
}

.modal .plus {
  position:absolute;
  right: 13px;
  top: 7px;
  cursor: pointer;
}

.minus:hover rect,
 .plus:hover path,
  .calendar:hover path {
    fill: var(--black);
  }

  .minus:active rect,
   .plus:active path,
    .calendar:active path {
      fill: var(--blue);
    }

.modal input[type="text"]:hover {
  background-color: var(--gray-hover);
}

.modal input[type="text"]:focus {
  background-color: var(--white);
}

.modal input[type="submit"] {
  color: var(--white);
  background-color: var(--blue);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
  width: 458px;
  height: 58px;
  align-self: stretch;
  margin-top: 24px;
}

.modal input[type="submit"]:hover {
  background-color: var(--blue-hover);
}

.modal input[type="submit"]:active {
  background-color: var(--blue-active);
  color: var(--white-opacity-light);
}

 .modal input[name="children"] {
  width: 114px;
  padding: 0;
  text-align: center;
}

.modal input[name="adult"] {
 width: 114px;
 padding: 0;
 text-align: center;
}
                                                            /*modal*/





                                                              /*catalog*/
.page-catalog {
  background-color: var(--gray-input);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-catalog {
  text-transform: uppercase;
  width: 1200px;
}

                                                            /*filter*/
.filter {
    background-image: url("../img/background_for_catalog.png");
    background-color: var(--blue);
    background-repeat: no-repeat;
    min-height: 217px;
}

.filter form {
    color: var(--white);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 72px;
    padding-top: 27px;
    justify-content: space-between;

}

.filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.filter input {
   text-transform: uppercase;
    background-color: var(--simple-opacity);
    color: var(--white);
    border: 1px solid var(--white);
}

.filter fieldset {
display: flex;
border: none;
flex-wrap: wrap;
flex-direction: column;
}

.filter-form fieldset:nth-of-type(3) {
  margin-right: 73px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.filter input[value="показать"] {
  text-align: center;
  border: none;
  box-sizing: border-box;
  width: 137px;
  height: 36px;
  border: 2px solid var(--white);
  align-self: center;
/*  margin-top: 18px;*/
}

.filter input[value="показать"]:hover, .filter input[value="показать"]:focus {
  background-color: var(--white);
  color: var(--black);
}

.filter-form fieldset:nth-of-type(1),
.filter-form fieldset:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filter-form fieldset:nth-of-type(2) {
  margin-left: 119px;
}

.catalog-filter {
  position: relative;
 display: block;
 cursor: pointer;
 user-select: none;
 margin-top: 25px;
 margin-left: 42px;
}


.filter-checkbox + .catalog-filter::before {
  content: "";
position: absolute;
left: -42px;
top: 0;
width: 23px;
height: 23px;
border: 2px solid var(--white);
border-radius: 10%;
}

.filter-checkbox:checked + .catalog-filter::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -34px;
  width: 22px;
  height: 17px;
  background-color: var(--simple-opacity);        /*прозрачная обводка галочки как?*/
  background-repeat: no-repeat;
  background-image: url("../img/icon/check.svg");
  /*background-position: 0 0;*/
/*  z-index: 3;*/
}

.from-to {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 317px;
  height: 36px;
  border: 2px solid var(--white);
  border-radius: 2px;
}

.stick {
  position: absolute;
  left: 159px;
  top: 7px;
  right: 156px;
  bottom: 7px;
  background-color: var(--white);
  width: 2px;
  height: 22px;
  text-align: center;
}

input[name="from"] {
  border: none;
  text-align: center;
}

input[name="to"] {
  border: none;
  text-align: center;
}

.range {
  position: relative;
  margin-top: 11px;
  margin-bottom: 25px;
  width: 316px;
  height: 21px;
  background-color: var(--simple-opacity);
}

.scale {
  text-align: right;/*не работает почему?*/
  width: 296px;
  height: 2px;
  background-color: var(--white-opacity-light);
  margin-top: 11px;
  margin-left: 20px;
}

.bar {
  width: 50%;
  background-color: var(--white);
  height: 2px;
}

 .toggle {
   position: absolute;
   top: 1px;
   left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  border-radius: 50%;
  background-color: var(--toggle);
  box-shadow: 0 2px 0 0 var(--togle-shadow);
   cursor: pointer;
}

.toggle:hover {
  transform: scale(1.2);
}

.toggle-min {
  left: 0px;
}

 .toggle-max {
  left: 128px;
}
                                                            /*filter*/

                                                            /*sorting*/

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.arrows {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin-right: 73px;
}

.arrows a:nth-child(2){
  margin-left: 12px;
  transform: rotate(180deg);
}

.arrows a:hover path {
  fill:var(--black);
}

.arrows a:active path {
  fill:var(--blue);
}

.sorting-left {
  font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
    align-items: baseline;
}

.sorting h2 {
  font-weight: bold;
font-size: 21px;
line-height: 26px;
  margin-left: 73px;
  }

.sorting a{
  list-style: none;
  text-decoration: none;
  color: var(--black-opacity);
  text-decoration: underline dotted var(--blue);          /*подчеркивание слишком близко*/
}

.sorting a:focus{
    color: var(--blue);
}

.sorting a:hover{
    color: var(--blue);
    text-decoration: underline dotted;***********************************************************************
}

.sorting a:active{
    color: var(--black);
    text-decoration: none;
}



                                                            /*sorting*/

                                                            /*filter-result*/

.filter-result .result-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-result a {
    list-style: none;
    text-decoration: none;
  /*  color: var(--black);*/
}

.result-list li{
  height: 150px;
  box-sizing: border-box;
  border-top: 1px solid var(--border-line);
  /*border-bottom: 1px solid var(--border-line);*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-list li:last-child{
  border-bottom: 1px solid var(--border-line);
}

.result-list-items-left {
  margin-left: 73px;
  display: flex;
  justify-content: space-between;

}

.result-list-items-left img {
  margin-right: 29px;
}

.result-discription {

  display: grid;
  grid-template-columns: 118px 141px 260px 235px;
  gap: 6px;
}

.result-discription p:nth-of-type(1){
  grid-column: 1/2;
  padding: 0;
  margin: 0;
}

.result-discription p:nth-of-type(2){
  grid-column: 2/3;
  padding: 0;
  margin: 0;
}

.rating-stars {
/*  width:
  margin-left: 522px;*/
  margin-right: 73px;
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  justify-content: flex-end;
  margin-left: auto;

  align-items: flex-start;
}



.hotel-name {
  grid-column: 1/-1;
  color: var(--black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.filter-result .hotel-name:hover {
  color: var(--blue);
}

.filter-result .hotel-name:active {
  color: var(--black-opacity);
}

.read-more, .reservation {
  color: var(--white);
}

.read-more {
  grid-column: 1/2;
  padding: 3px 16px 3px 17px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.read-more:hover {
  background-color: var(--blue-hover);
}

.read-more:active {
  background-color: var(--blue-active);
  color: var(--white-opacity-light);
}

.reservation {
  grid-column: 2/3;
  padding: 3px 17px 3px 16px;
  background-color: var(--brown);
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.reservation:hover {
  background-color: var(--brown-darcker);
}

.reservation:active {
  background-color: var(--brown-darckest);
  color: var(--white-opacity-light);
}

.rating {
  padding: 0;
  margin: 0;
  margin-top: 43px;
  padding: 3px 12px 3px 15px;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray-rating);
  background-color: var(--gray-input);
}



.stars img{
  padding: 0;
  margin: 0;
  text-align: right;
}

                                                            /*filter-result*/
                                                              /*catalog*/



                                                            /*visually-hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  }

                                                          /*visually-hidden*/

.now_here {                              /*класс для ссылки на которой находимся*/
  background-color: var(--brown);
}

.selected-sorting {
  color: var(--blue);
}
